<!DOCTYPE html>
<html>
  <head>
    <title>Mymovie</title>
    <link type="text/css" rel="text/stylesheet" href="./public/css/index.css">
  </head>
  <body>
    <div class="header">
      <ul>
        <li id="Login" class="Lonin">Login</li>
        <li id="Signup" class="Signup">Signup</li>
      </ul>
    </div>
    <div class="container">
      <div class="content">
        <div class="contop">
          <h2 class="title">My Show</h2>
          <div class="search"><span>【】</span>
            <input id="searStr" placeholder="Search for a movie">
            <button id="searchBtn" value="search"></button>
          </div>
        </div>
        <nav class="contentNav">
          <li> <span>【】</span><span>主页</span></li>
          <li class="movie"> <span>电影</span>
            <ul class="movietype">
              <li>喜剧</li>
              <li>动作</li>
              <li>科幻</li>
              <li>剧情</li>
            </ul>
          </li>
          <li class="tv"> <span>电视剧</span>
            <ul class="tvtype">
              <li> </li>
            </ul>
          </li>
          <li> <span>短视频         </span></li>
          <li> <span>动漫</span></li>
          <li class="contact"> <span>ContactUs</span><span>**</span></li>
        </nav>
        <div class="details">
          <div class="photo"><img src="#"></div>
          <div class="field">
            <h3>Instat Ticket Booking</h3>
            <ul class="selType">
              <li>Movies</li>
              <li>Plays</li>
              <li>Events</li>
              <li>Sports</li>
            </ul>
            <div class="type"><span>Movies</span><span>Cinemas</span></div>
            <div class="choose">
              <input id="input1">
              <input id="input2">
            </div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>